<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.myproject.mapper.AttachMapper">
	
	<!--file 등록  -->
	<insert id="insert">
			insert into tbl_attach
	    		(
	    		 uuid					<!--uuid -->
	    		 ,uploadPath				<!-- 파일경로 -->
	    		 ,filename				<!-- 파일명 -->
	    		 ,markerNo				<!-- 마커번호 -->
	     		)
			values
	    		(
	    		 #{uuid}				<!-- uuid-->
	    		 ,#{uploadPath}			<!-- 파일경로-->
	    		 ,#{fileName}			<!-- 파일명-->
	    		 ,#{markerNo}			<!-- 마커번호-->
	    		 )		
	</insert>
	
	<delete id="delete">
		delete from tbl_attach where uuid = #{uuid}
	</delete>
	
	<delete id="deleteByMarkerNo">
		delete from tbl_attach where markerNo = #{markerNo}
	</delete>
	
	<select id="findByMarkerNo" resultType="com.myproject.domain.AttachVO">
		select 
			uuid
			,uploadPath
			,filename
			,markerNo
		 from 
		 tbl_attach where markerno = #{markerNo}
	</select>
	

	
	

</mapper>