<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.myproject.mapper.MarkerMapper">
	
	<!--Marker 등록  -->
	<insert id="markerInsert">
			insert into tbl_marker
	    		(
	     		trailno,	<!-- 코스번호 -->
	     		markerno,   <!-- 마커번호 -->
	     		title,		<!-- 제목 -->
	     		content,	<!-- 내용 -->
	     		lat,		<!-- 출발위도 -->
	     		lng,		<!-- 출발경도 -->
	     		regdate,	<!-- 등록일자 -->
	     		updatedate	<!-- 수정일자 -->
	     		)
			values
	    		(
	    		 #{trailNo},		<!-- 코스번호 -->
	    		 seq_marker.nextval,<!-- 마커번호 -->	
	    		 #{title},			<!-- 제목 -->
	    		 #{content},		<!-- 내용 -->
	    		 #{lat},			<!-- 출발위도 -->
	    		 #{lng},			<!-- 출발경도 -->
	    		 sysdate,			<!-- 등록일자 -->
	    		 sysdate			<!-- 수정일자 -->
	    		 )		
	</insert>
	
	<insert id="markerInsertSelectKey">
		<selectKey keyProperty="markerNo" order="BEFORE" resultType="long">
			select seq_marker.nextval from dual
		</selectKey>
			insert into tbl_marker
	    		(
	     		trailno,	<!-- 코스번호 -->
	     		markerno,   <!-- 마커번호 -->
	     		title,		<!-- 제목 -->
	     		content,	<!-- 내용 -->
	     		lat,		<!-- 출발위도 -->
	     		lng,		<!-- 출발경도 -->
	     		regdate,	<!-- 등록일자 -->
	     		updatedate	<!-- 수정일자 -->
	     		)
			values
	    		(
	    		 #{trailNo},		<!-- 코스번호 -->
	    		 #{markerNo},<!-- 마커번호 -->	
	    		 #{title},			<!-- 제목 -->
	    		 #{content},		<!-- 내용 -->
	    		 #{lat},			<!-- 출발위도 -->
	    		 #{lng},			<!-- 출발경도 -->
	    		 sysdate,			<!-- 등록일자 -->
	    		 sysdate			<!-- 수정일자 -->
	    		 )		
	</insert>
	
	<!-- 코스 마커리스트 조회 -->
	<select id="markerGetList" resultType="com.myproject.domain.MarkerVO">
		select
			trailNo
			,markerNo
			,title
			,content
			,lat
			,lng
		from tbl_marker
		where trailno = #{trailNo}
	</select>
	
	<!-- 마커 수정 -->
	<update id="markerUpdate">
		update tbl_marker set
			title = #{title}
			,content = #{content}
		where markerno = #{markerNo}
	</update>
	
	<delete id="markerDelete">
		delete tbl_marker where markerNo=#{markerNo}
	</delete>
	
	<delete id="deleteByTrailNo">
		delete tbl_marker where trailNo =#{trailNo}
	</delete>
	
</mapper>