<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.myproject.mapper.PathMapper">
	
	<!--path 등록  -->
	<insert id="insert">
			insert into tbl_path
	    		(
	    		 trailNo					<!--코스번호 -->
	    		 ,lat				<!-- 위도 -->
	    		 ,lng				<!-- 경도 -->
	     		)
			values
	    		(
	    		 #{trailNo}				<!-- 코스번호 -->
	    		 ,#{lat}			<!--위도 -->
	    		 ,#{lng}			<!--경도 -->
	    		 )		
	</insert>
	
	<select id="pathGetList" resultType="com.myproject.domain.PathVO">
		select
			trailNo		<!-- 코스번호 -->
			,lat		<!-- 위도 -->
			,lng		<!-- 경도 -->
		from tbl_path
		where trailno = #{trailNo}
	</select>
	
	<delete id="pathDelete">
		delete tbl_path where trailNo = #{trailNo}
	</delete>
	

</mapper>